# Node.js
node_modules/
.npm/
.next/
.env
.env.*

# Rust
/target/
Cargo.lock

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/
ENV/

# Elixir
/_build/
deps/
*.ez

# Go
/bin/
*.exe
*.test
*.out
coverage.out

# macOS
.DS_Store

# VSCode
.vscode/

# Docker
*.log
docker-compose.override.yml

# General
*.swp
*.swo
*.bak
*.tmp
*.log

# Kubernetes
*.yaml~

# Misc
.idea/
*.iml

# Ignore local database files
database/*.db

# Ignore test coverage
coverage/

# Ignore compiled files
*.o
*.obj
*.so
*.dll
*.a
*.lib

# Ignore Jupyter Notebooks checkpoints
.ipynb_checkpoints/
